<template>
  <div>
    <div id="mySidenav" ref="sideNav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" @click="closeNav()">&times;</a>
      <router-link :to="{ name: 'items.dashboard' }">Mijn To-Do list bekijken(dashboard weergave)</router-link>
      <router-link :to="{ name: 'list.view' }">Mijn To-Do list bekijken(lijst weergave)</router-link>
    </div>

    <div ref="content" id="main">
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
          <i class="fas fa-cog" @click="openNav()"></i>
          Vue & Laravel To-Do List opdracht
        </a>
      </nav>
      <div>{{bericht}}</div>

      <div v-if="message" class="alert">
        <p class="inner">{{message}}</p>
      </div>
      <!-- <div class="message" v-if="message">{{message}}</div> -->

      <div :key="index" v-for="(multipleErrors, key, index) in errors" class="alert">
        <h2>{{key}}</h2>
        <p
          class="inner"
          v-for="(error, indexForError) in multipleErrors"
          :key="indexForError"
        >{{error}}</p>
      </div>
      <div v-if="loading">
        <p class="loader"></p>
      </div>
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
// import css from ".main.css";
export default {
  name: "app",
  data() {
    return {
      bericht: ""
    };
  },

  computed: {
    loading() {
      return this.$store.state.loading;
    },

    errors() {
      return this.$store.state.errors;
    },

    message() {
      return this.$store.state.message;
    }
  },

  methods: {
    openNav() {
      // TODO :: try this with: https://vuejs.org/v2/guide/transitions.html
      this.$refs.sideNav.style.width = "250px";
      this.$refs.content.style.marginLeft = "250px";
    },

    closeNav() {
      this.$refs.sideNav.style.width = "0";
      this.$refs.content.style.marginLeft = "0";
    }
  },

  mounted() {
    this.bericht = "Klik op het tandwiel voor het menu";
  },

  created() {
    this.$store.dispatch("loadItems");
  }
};
</script>
