<template>
  <div class="item-form">
    <div class="form-group">
      <label>Titel:</label>
      <input v-model="item.title" class="form-control" type="text" />
    </div>
    <div class="form-group">
      <label>Beschrijving:</label>
      <input v-model="item.description" class="form-control" type="text" />
    </div>
    <br />
    <div class="form-group">
      <label>Foto URL:</label>
      <input class="form-control" v-model="item.photo" type="text" />
    </div>
    <br />
    <div class="form-group form-check">
      <input v-model="item.completed" type="checkbox" class="form-check-input" />
      <label class="form-check-label" for="checkbox">Compleet</label>
    </div>
  </div>
</template>


<script>
export default {
  name: "item-form",
  props: {
    item: {
      type: Object
    }
  },

  data() {
    return {};
  },

  computed: {},

  methods: {},

  mounted() {}
};
</script>