<template>
  <div class="item-details">
    <div class="container">
      <div class="card card-margin">
        <div class="card-header">Item {{item.title}} details</div>
        <div class="card-body">
          <img :src="item.photo" class="image-show" alt />
          <br />
          {{item.description}}
          <br />
          <br />
          <router-link
            class="btn btn-success"
            :to="{ name: 'item.edit', params:{id:item.id}, }"
          >Item aanpassen</router-link>
          <button class="btn btn-success" @click="deleteItem(item)">Item verwijderen</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "item-details",
  data() {
    return {};
  },

  computed: {
    item() {
      return this.$store.state.allItems.find(
        item => item.id == this.$route.params.id
      );
    }
  },

  methods: {
    deleteItem(item) {
      this.$store.dispatch("deleteItem", item);
    }
  },

  mounted() {}
};
</script>
