<template>
  <div class="item-new">
    <div class="container">
      <div class="card card-margin">
        <div class="card-header">Nieuw item aanmaken</div>
        <div class="card-body">
          <item-form :item="item" />
          <button @click="addNewItem()" class="btn btn-success">Aanpassingen opslaan</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ItemForm from "./ItemForm.vue";

export default {
  name: "item-new",
  components: {
    ItemForm
  },
  data() {
    return {
      item: { title: "", description: "", photo: "", completed: false }
    };
  },

  computed: {},

  methods: {
    addNewItem() {
      this.$store.dispatch("addNewItem", this.item);
    }
  }
};
</script>
