<template>
  <div class="items-overview">
    <div class="container">
      <router-link class="btn btn-success new-item" :to="{ name: 'newitem'}">+ Nieuw item toevoegen</router-link>
      <h2 class="title">Mijn To-Do List</h2>

      <div class="card-group">
        <ul style="list-style-type: none;" v-for="item in items" v-bind:key="item.id">
          <li>
            <div :class="{ completed: item.completed }">
              <div class="card" style="width: 18rem;">
                <img :src="item.photo" class="card-img-top" alt />
                <div class="card-body">
                  <h5 class="card-title">{{item.title}}</h5>
                  <p class="card-text">{{item.description}}</p>

                  <router-link
                    class="btn btn-success"
                    :to="{ name: 'item.show', params:{id:item.id}, }"
                  >Item bekijken</router-link>
                  <p class="completed-text" v-if="item.completed">✓ Compleet</p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "items-overview",
  data() {
    return {};
  },

  computed: {
    items() {
      return this.$store.state.allItems;
    }
  },

  methods: {}
};
</script>
